header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
