@import url(https://fonts.googleapis.com/css?family=Roboto:100);

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #fff;
}
