@import url(https://fonts.googleapis.com/css?family=Roboto:100);

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Roboto";
    font-weight: 100;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
    background-color: #bbb;
}